<h1>List of Sightings in the Portland Area</h1>

<ul>
  <% @sightings.each do |sighting| %>
  <li><a href="/sightings/<%= sighting.id %>">Location: <%= sighting.location %> --- Date: <%= sighting.date %> </a></li>
  <% end %>
</ul>


<button><a href="/sightings/new">Add a new sighting!!!</a></button>
